*{
			margin: 0;
			padding: 0;
		}
		body{
			background-color: #efefef;
			font-family: '微软雅黑';
		}
		.container{
			width: 1000px;
			margin: 0 auto;
		}
		.head{
			width: 100%;
			height: 150px;
			border-radius: 10px;
			background-color: #ffffcd;
		}
		.logo{
			width: 410px;
			height: 100px;
			margin-top: 20px;
			/*background-color: pink;*/
			float: left;
			padding-left: 10px;
		}
		.logo a{
			display: block;
			width: 100%;
			height: 100%;
		}
		.logo p:first-child{
			float: left;
			width: 335px;
			height: 100px;
			background: url('../images/heard1.png') no-repeat 0, 20px, 15px, 0 ;
		}
		.motto{
			float: left;
			padding-top: 40px;
			color: #484848;
			line-height: 30px;
			text-align: center;
		}
		.motto p:first-child{
			animation: moveLeft 3s ease-in;
		}
		.motto p:nth-child(2){
			/*opacity: 0;*/
			animation: moveLeft 3s 1s ease-in both;
		}
		.motto p:last-child{
			text-align: right;
			padding-right: 20px;
			animation: moveLeft 3s 2s ease-in backwards;
		}
		.motto p:last-child span{
			color: red;
			animation: showName 3s 5s linear both;
		}
		.logo_bg{
			width: 129px;
			height: 115px;
			float: right;
			margin-top: 20px;
			background: url('../images/logo-bg.jpg') no-repeat;
			background-size: 150px 140px;
		}
		@keyframes moveLeft{
            0%{
                opacity: 0;
                transform: translateX(0);
            }
            100%{
                opacity: 1;
                transform: translateX(40px);
            }
        }
        @keyframes showName{
            0%{
                opacity: 1;
            }
            40%{
                opacity: 0;
            }
            60%{
                opacity: 1;
            }
            80%{
                opacity: 0;
            }
            100%{
                opacity: 1;
            }
        }